<div id="container">
  
  <% @movies.each.with_index(@movies.offset_value + 1) do |movie, i| %>
    <div class="bdr">
      <iframe width="335" height="210" src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% if movie.watched_by?(current_user) %>
        <%= link_to "視聴済みを解除", movie_watched_buttons_path(movie.id), method: :delete,  class: "btn btn-primary btn-block", rel: "nofollow" %>
      <% else %>
        <%= link_to "視聴済みにする", movie_watched_buttons_path(movie.id), method: :post,  class: "btn btn-secondary btn-block", rel: "nofollow" %>
      <% end %>
      <% if movie.category.in? ['Php', 'Talk', 'Money', 'Writing', 'Live', 'Movie'] %>
        <p class="m_title"><%= "#{movie.title}" %></p>
      <% else %>
        <p class="m_title"><%= "Lv.#{i} : #{movie.title}" %></p>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @movies %>